<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="qmailConfiguration"
      type="qmail.QMailConfigurationSection, qmail"
      />
  </configSections>

  <qmailConfiguration maxMailsPerHour="5" maxMailsPerDay="100" archiveSentMailsAfterHours="0" checkIntervalMinutes="1">
    <filter to="torben.espersen@gmail.com"/>
    <archiveMailTable tableName="tblMailArchive"/>
    <mailTable tableName="tblMail" to="[to]" from="[from]"/>
    <smtp host="smtp.gmail.com" port="587" ssl="True" username="test.qmail.20120314" password="DetteErEnTest"/>

  </qmailConfiguration>

  <appSettings>

    <add key="log4net.Config" value="log4net.config"/>

  </appSettings>

  <connectionStrings>
    <add name="qmail.database" connectionString="Server=localhost;User=qmail;Password=Dummy123;database=TEST-QMAIL;"/>
  </connectionStrings>

</configuration>

