@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     QMail Web accesses the data underlying the QMail asynchronous mail transfer, 
     allowing statistics on mail transfers and searching for specific mails.
</p>
