<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
      <section
        name="qmailConfiguration"
        type="qmail.QMailConfigurationSection, qmail"
      />
  </configSections>

  <qmailConfiguration maxMailsPerHour="5" maxMailsPerDay="100" checkIntervalMinutes="1" archiveSentMailsAfterHours="0" deleteArchivedMailsAfterHours="0">
    <!--folders pickupFolder="c:\temp\maildrop" sentFolder="c:\temp\sentmail" failedFolder="c:\temp\failedmail" ignoredFolder="c:\temp\ignoredmail" archiveFolder="c:\temp\archivemail"/-->
    <folders pickupFolder="c:\temp\maildrop"/>

    
<!--
    <filter to="torben.espersen@gmail.com">
-->    
    <filter overrideTo="torben.espersen@gmail.com">
      <whitelist>
        <add mailAddress="torben.espersen@gmail.com"/>
        <add mailAddress="Aaa@bc.de"/>
      </whitelist>
    </filter>
<!--
    <archiveMailTable tableName="tblMailArchive"/>
    <mailTable tableName="tblMail" to="[to]" from="[from]"/>
-->
<!-- Using gmail requires ssl/tls on port 587 -->
<!--
    <smtp host="smtp.gmail.com" port="587" ssl="True" username="test.qmail.20120314" password="DetteErEnTest"/>
-->
    <!--
    <smtp host="localhost" port="25"/>
-->
  </qmailConfiguration>
<!--
  <connectionStrings>
    <add name="qmail.database" connectionString="Server=localhost;User=qmail;Password=Dummy123;database=TEST-QMAIL2;"/>
  </connectionStrings>
-->
  
  <system.net>
    <mailSettings>
        <smtp deliveryMethod="Network" from="test.qmail.20120314@gmail.com">
        <network defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587"
             userName="test.qmail.20120314" password="DetteErEnTest"/>
<!--
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\maildrop\"/>
        <smtp host="smtp.gmail.com" port="587" ssl="True" username="test.qmail.20120314" password="DetteErEnTest"/>
-->
      </smtp>
    </mailSettings>
  </system.net>

</configuration>

